<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yoyo weather app</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        .space-out {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    <div class="container-fluid space-top">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="space-out">
                    <h1 class="h3">Weather forecast for the week ahead in London.</h1>

                    <p>The data is loaded from this url: <a href="api/weather/?city=London&period=week">api/weather/?city=London&period=week</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div ng-app="app">
                    <div ng-controller="BarCtrl">
                        <div class="graph-area">
                            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.0.0/angular-chart.min.js"></script>

    <script>
        angular.module("app", ["chart.js"]).controller("BarCtrl", function ($scope, $http) {
            $scope.labels = [];
            $scope.series = ['Humidity', 'Temperature'];

            $scope.data = [
                [],
                []
            ];

            function loadData() {
                var url = 'api/weather/?city=London&period=week';
                $http({
                      method: 'GET',
                      url: url
                }).then(function successCallback(response) {
                    console.log(response.data);

                    var data = response.data;

                    $scope.data = [
                        data.humidity.raw_values,
                        data.temperature.raw_values,
                    ];

                    var labels = data.humidity.times;

                    for (var i = 0; i < labels.length; i++) {
                        labels[i] = moment.unix(labels[i]).fromNow();
                    }

                    $scope.labels = labels;

                }, function errorCallback(response) {
                    console.log("Error fetching data", response);
                });
            }
            loadData();
        });
    </script>

</body>
</html>
